.navbar a{
    color: white;
    padding: 10px;
    border-radius: 50%;
    transition: all 0.5s ease;
}
.navbar a:hover{
    background-color: #444;
}
.navbar{
    background: linear-gradient(55deg,#000,#123,#001);
    background-size: 150%;
    animation: bganimation 4s linear  infinite;
}
@keyframes bganimation{
  0%{
    background-position: 0% 50%;
  }
  15%{
    background-position: 50% 50%;
  }
  33%{
    background-position: 100% 50%;
  }
  48%{
    background-position: 100% 100%;
  }
  65%{
    background-position:50% 100%;
  }
  85%{
    background-position: 50% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}